/*
	Create Event Component
*/
.create-event {
	font-size: 150%;
	color: white;
	font-family: $font;
	width: 70%;
	margin-left: 15%;
	.create-event-title {
		font-size: 200%;
		text-align: center;
		margin-bottom: 5%;
	}
	.create-name-event {
		width: 100%;
		margin-bottom: 2%;
		input {
			margin-left: 5%;
			float: right;
			width: 50%;
		}
		@media(max-width:767px){
			input {
				width: 100%;
			}
		}
	}
	.create-type-event {
		@extend .create-name-event;
	}
	.create-host {
		@extend .create-name-event;
	}
	.create-start {
		@extend .create-name-event;
	}
	.createEndEvent {
		@extend .create-name-event;
	}
	.createLocationOfEvent {
		@extend .create-name-event;
	}
	.create-guestlist {
		@extend .create-name-event;
	}
	.message-title {
		width: 38%;
		display: inline-block;
		padding: 0;
	}
	.create-message {
		width: 100%;
		display: block;
		textarea {
			border-radius: 10px;
			border: 2px solid $darkblue;
			width: 60%;
			font-size: 80%;
			font-family: $font;
			float: right;
			color: $darkblue;
		}
		@media(max-width:767px){
			textarea {
				width: 100%;
			}
		}
	}
	.submit-button {
		width: 50%;
		display: block;
		margin-right: 50%;
		margin-top: 4%;
	}
}
.create-button {
	background-color: red;
	margin-left: 1%;
	display: block;
	transform: translateY(50%);
}
.create-button:hover {
	background-color: white;
	color: red;
	transition: all .3s ease-in-out;	
}