/*
	Login page
*/
.user-login {
	font-family: $font;
	font-size: 150%;
	color: white;
	width: 60%;
	margin-left: 20%;
}
.login-title {
	text-align: center;
	font-size: 150%;
}

.login-email,
.login-password {
	display: block;
	width: 100%;
	@media (min-width:768px){
		width: 50%;
		margin-left: 25%;
	}
}