/*
	Variables
*/
$font: Helvetica Neue, Arial, sans-serif;
$darkblue: #3A5971;
$transblue: rgba(58, 89, 113, 0.8);
$paleblue: #6D95B3;
/*
	General Classes
*/
html,
body,
#main {
	width: 100%;
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}
a, nav a, button {
	min-height: 48px !important;
	min-width: 48px;
}
img,
a,
embed,
object,
video {
	max-width: 100%;
}
a {
	display: inline-block;
	&:link {
		text-decoration: none;
		color: white;
	}
	&:visited {
		text-decoration: none;
		color: white;
	}
	&:hover {
		color: red;
		text-decoration: none;

	}
}
body {
	background: linear-gradient($paleblue, transparent) no-repeat  fixed,
                url(../css/city.jpg) no-repeat,;

}
p {
	margin: 0;
	padding: 20px;
}


footer {
	width: 60%;
	margin-left: 20%;
	margin-top: 15%;

	height: 5%;
	color:white;
	text-align: center;
	font-size: 120%;
	font-weight: 200;
	font-family: $font;
	background-color: transparent;
}
button {
	text-decoration: none;
	padding: 2%;
	border-radius: 10px;
	border: 1px outset $darkblue;
	background-color: $transblue;
	color: white;
	font-family: $font;
	font-size: 70%;
	font-weight: 200;
	outline: none;
	margin-left: 20px;
	margin-bottom: 20px;
	
}
button:hover{
	cursor: pointer;
	background-color: white;
	color: $darkblue;
	transition: all .3s ease-in-out;
}


input {
	height: 40px;
	border: 1px solid $darkblue;
	background-color: rgba(255, 255, 255, 0.5);
	color: black;
	border-radius: 10px;
	font-size: 14px;
	text-decoration:none;
}

input:valid {
	box-shadow: 0 0 2px 1px $darkblue;
	
}
input:valid ~ .checkmark::before {
    content: "✓";
    color: green;
}

input:invalid {
	box-shadow: 0 0 3px 2px darkred;
}

::-webkit-input-placeholder {
   color: rgba(35, 34, 34,.9);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(35, 34, 34,1);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(35, 34, 34,1);
}

:-ms-input-placeholder {  
   color: rgba(35, 34, 34,1);
}

.event {
	color: $darkblue;
	margin-left: 3%;
	padding-right: 2%;
	padding-left: 2%;
	background: rgba(255, 255, 255, 0.5);
	width: 90%;
	font-size: 60%;
	font-family: $font;
	border-top: 2px solid $darkblue;

	.name-event {
		color: $darkblue;
		font-size: 140%;
		font-weight: 500;
		display: block;
		margin-bottom: 1%;
		padding-top: 2%;
		padding-bottom: 2%;
		text-align: left;
		@media(max-width: 767px){
			font-size: 120%;
			width: 100%;
		}
	}
	.host-event {
		width: 33.3%;
		display: inline-block;
		margin-bottom: 1%;
		text-align: left;
		@media(max-width: 767px){
			width: 100%;
		}
	}
	.location-event {
		@extend .host-event;
		text-align: left;
	}
	.type-event {
		@extend .host-event;
	}
	.start-event {
		@extend .host-event;
		text-align: left;
	}
	.end-event {
		@extend .host-event;
		@media(max-width:767px){
			width: 100%;
		}
	}
	.type-event {
		@media(max-width: 767px){
			width: 50%;
		}			
	}
	.start-event,
	.end-event {
		@media(max-width:767px){
			width: 50%;
			display: inline-block;
		}
	}
	.guestlist-event {
		display: inline-block;
		width: 33.3%;
		margin-bottom: 1%;
		text-align: left;
		padding-bottom: 1%;
		
		
	}
	.message-event {
		font-size: 110%;
		padding-bottom: 2%;
		text-align: left;
		padding-top: 1%;
		border-top: solid 1px $darkblue;
	}
}
.event:first-child {
	border-top: none;
}

.submit-button {
	background-color: $transblue;
	height: 40px;
	float: right;
	margin-top: 2%;
		@media(max-width:767px){
			width: 100%;	
		}
	color: white;
}
.submit-button:hover {
	cursor: pointer;
	background-color: white;
	color: $darkblue;
	transition: all .3s ease-in-out;
}
.submit-button:valid {
	box-shadow: none;
}
.error-message {
	color: #801515;
	font-size: 16px;
	visibility: hidden;
	padding: 0;
}

@import "homepage";
@import "createaccount";
@import "login";
@import "userpage";
@import "createevent";







