/*
	Userpage Component
*/

.user-page {
	font-family: $font;
	font-size: 150%;
	color: white;
	.user-title {
		color: white;
		font-size: 200%;
		text-align: center;
		@media(max-width:767px){
			font-size: 150%;
		}
	}
	.button-event {
		width: 20%;
		@media(max-width:767px){
			width: 50%;
		}
	}
	.button-signout {
		background-color: #801515;
		margin-left: 1%;
		@media(max-width:767px){
			width: 40%;
		}

	}
	.button-signout:hover {
		background-color: white;
		color: #801515;
		transition: all .3s ease-in-out;
	}
	.events-title {
		font-size: 200%;
		@media(max-width: 767px){
			font-size: 100%;
		}
	}


}